* {
  box-sizing: border-box;
  margin: 0;
}
header {
  background-color: #f374ae;
  color: #390040;
  height: 6em;
}
nav {
  background-color: #f7f5fb;
  height: 2.5em;
  border-top: 2px solid rgb(114, 114, 114);
  border-bottom: 2px solid rgb(114, 114, 114);
}
.navit {
  text-decoration: none;
  color: #390040;
  font-family: "Oswald", sans-serif;
}
#logo {
  width: 4em;
  float: left;
  margin-top: 1em;
  margin-left: 4em;
  border: 2px solid rgb(33, 205, 250);
  border-radius: 50%;
}
#logotxt {
  font-family: "Prompt", sans-serif;
  font-size: 60px;
}
.logotxt {
  margin: auto;
  width: 65%;
  /* border: 2px solid green; */
}
#about,
#skills {
  margin-left: 2em;
}
#home {
  margin-left: 5em;
}
#contact {
  float: right;
  margin-right: 5em;
}
#navit {
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
  margin-top: 0.3em;
}
#greet {
  /* border: 1px solid red; */
  width: 100vw;
  height: calc(100vh - 8.5em);
  /* background: rgb(33, 205, 250);
  background: linear-gradient(
    0deg,
    rgb(33, 205, 250) 0%,
    rgba(233, 145, 185, 1) 100%
  ); */
  background-image: url(https://images.pexels.com/photos/3255761/pexels-photo-3255761.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
}
#hi {
  /* border: 1px solid red; */
  /* margin-top: 10px; */
  font-family: 'Monoton', cursive;
  font-size: 200px;
  color: #5D5E60;
  width: 50%;
  margin-left: 0.25em;
  float: left;
}
#sent{
    margin-left: 1em;
    margin-top: 1em;
    width: 75%;
    /* border: 1px solid red; */
    font-family: 'Reenie Beanie', cursive;
    font-size: 40px;
    clear: both;
    margin-bottom: 2em;
}
#face{
    float: right;
    margin-right: 5em;
}
.face{
    width: 300px;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 10px 10px 5px#686868;
}
#banner{
    /* border: 2px solid red; */
    width: 100%;
    height: 65%;
    padding-top: 5px;
    background-color: #D6FF79;
}
